<!doctype html>
<html ng-app="myApp"> 
    
<head>
    <title>User Login and Sessions</title>
    <link rel="stylesheet" type="text/css" href="/stylesheets/style.css" />
</head>
        
<body>  
    <div ng-controller="myController">
        <h2 id="welcomeText">Welcome. You are Logged In as
            <%= username %>
        </h2>
        <a id="logoutLink" href="/logout">logout</a>
        <a id="editLink" href="/user">Edit User</a>
        <h1>Chat Room</h1>
        <div>
          <textarea id="chatLog" class="chat_log" readonly></textarea>
        </div>
        <form id="chat">
          <input id="message" class="message" type="text">
          <input type="submit" class="chat" value="chat"/>
        </form>
    </div>

    <div id="box" class="box"></div>
    <hr>
    <span id="indexMsg">
        <%= msg %>
    </span>
    <hr>
    <span id="colorText">
    Color
        <%= color %>
      </span>
    <script src="http://code.angularjs.org/1.2.9/angular.min.js"></script>
    <script src="/javascripts/my_app.js"></script>
    <script src="/socket.io/socket.io.js"></script>
    <script src="//code.jquery.com/jquery-1.11.1.js"></script>
    <script>
      var socket = io();
      $('#chat').on('submit', function(e){
        socket.emit('send message', $('#name').val(), $('#message').val());
        $('#message').val("");
        $("#message").focus();
        e.preventDefault();
      });
      socket.on('receive message', function(msg){
        $('#chatLog').append(msg+"\n");
        $('#chatLog').scrollTop($('#chatLog')[0].scrollHeight);
      });
      socket.on('change name', function(name){
        $('#name').val(name);
      });
    </script>
</body>
      
</html>