<!DOCTYPE html>
<html>
    <title>User Login and Sessions</title>
    <link rel="stylesheet" type="text/css" href="/stylesheets/style.css" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">

</head>

<body style="background:url(social.jpg) no-repeat center center fixed; 
   -webkit-background-size: cover;
   -moz-background-size: cover;
   -o-background-size: cover;
   background-size: cover;">
    <div style="padding: 20% 15px 750px 15px; height: auto;">
    <div class="form-container">
        <p class="form-header" style ="color: white; text-shadow: 3px 3px 3px black; text-align: center;"><font size="20"><strong>Login</strong></font></p>
        <div class = "container card" style="box-shadow: 10px 10px 5px LightBlue; padding: 25px 25px 25px 65px; width: 30rem; height: auto;">
        <form method="POST" action="/login">
            <label>Username:</label>
            <input type="text" id="username" name="username"><br>
            <label>Password:</label>
            <input type="password" id="password" name="password"><br>
            <input type="submit" id="login" value="Login">
        </form>
    <a id="signUpLink" href="/signup">Sign Up</a>
    <hr>
    <span id="loginMsg">
    <%= msg %>
    </span>
    </div>
    </div>
    </div>
</body>

</html>

